# SPDX-License-Identifier: CC-BY-NC-ND-4.0
#
# fw_env.config - U-Boot environment location for fw_printenv / fw_setenv
#
# Copyright (c) 2026 Circuit Valley - Author: Gaurav Singh
# https://creativecommons.org/licenses/by-nc-nd/4.0/

/boot/uboot.env             0x0000    0x20000
/boot/uboot-redund.env      0x0000    0x20000
