# SPDX-License-Identifier: CC-BY-NC-ND-4.0
#
# chc5-hw-client.cfg - PTP client, hardware timestamps
#
# Copyright (c) 2026 Circuit Valley - Author: Gaurav Singh
# https://creativecommons.org/licenses/by-nc-nd/4.0/

[global]
clientOnly		1
time_stamping		hardware
network_transport	UDPv4
delay_mechanism		E2E
tx_timestamp_timeout	50
step_threshold		1.0
summary_interval	0
